.chart-container {
    width: 50%;
    height: 50%;
    background-color: blue;
  }
  
  @keyframes backgroundChange {
    from {
      background-color: blue;
    }
    to {
      background-color: yellow;
    }
  }